<!DOCTYPE html>
<html>
    <head>
        <title>degen.r8 &ndash; lobby</title>
    </head>
    <body>
    <%- include("Components/banner", {path: "lobby", isLoggedIn: true}) %>
    <div id="content">
        <div id="available-rooms-container">
            <table id="available-rooms">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>sitting</th>
                        <th>capacity</th>
                        <th>standing</th>
                        <th>minimum bet</th>
                        <th>join</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (availableRooms.length === 0) { %>
                        <tr>
                            <td colspan=6>no available rooms!</td>
                        </tr>
                    <% } else { %>
                        <% availableRooms.forEach(room => { %>
                            <tr>
                                <td><%= room.id %></td>
                                <td><%= room.numSitting %></td>
                                <td><%= room.capacity %></td>
                                <td><%= room.numStanding %></td>
                                <td><%= room.minimumBet %></td>
                                <td>
                                    <form action="/room/<%= room.id %>/enter.rest" method="post">
                                        <input type="submit" value="join">
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div id="new-room-container">
            <form action="/room/create.rest" method="post">
                <div>
                    <label for="minimum-bet">minimum bet</label>
                    <input id="minimum-bet" name="minimumBet" type="range" min="0.01" max="100.00" step="0.01" value="0.10">
                </div>
                <div>
                    <label for="use-blinds">use blinds?</label>
                    <input id="use-blinds" name="useBlinds" type="checkbox" checked>
                </div>
                <div>
                    <label for="big-blind-bet">big blind bet</label>
                    <input id="big-blind-bet" name="bigBlindBet" type="range" min="0.00" max="100.00" step="0.01" value="0.20">
                </div>
                <div>
                    <label for="small-blind-bet">small blind bet</label>
                    <input id="small-blind-bet" name="smallBlindBet" type="range" min="0.00" max="100.00" step="0.01" value="0.10">
                </div>
                <div>
                    <label for="use-antes">use antes?</label>
                    <input id="use-antes" name="useAntes" type="checkbox" checked>
                </div>
                <div>
                    <label for="ante-bet">ante bet</label>
                    <input id="ante-bet" name="anteBet" type="range" min="0.00" max="100.00" step="0.01" value="0.10">
                </div>
                <div>
                    <label for="capacity">max players</label>
                    <input id="capacity" name="capacity" type="range" min="2" max="16" step="1" value="8">
                </div>
                <div>
                    <label for="autoplay-interval">autoplay interval</label>
                    <input id="autoplay-interval" name="autoplayInterval" type="range" min="0" max="60" step="1" value="10">
                </div>
                <div>
                    <label for="secret">room password</label>
                    <input id="secret" name="secret" type="text">
                </div>
                <div>
                    <input type="submit" value="create">
                </div>
            </form>
        </div>
    </div>
    </body>
</html>
