<!DOCTYPE html>
<html>
    <head>
        <title>degen.r8 &ndash; lobby</title>
        <link rel="stylesheet" href="/assets/css/lobby.css">
        <link rel="icon" href="/assets/images/favicon.ico">
        <script src="/assets/js/degen.r8/lobby.bundle.js"></script>
    </head>
    <body style="font-family: monospace">
    <%- include("Components/banner", {path: "lobby", user}) %>
    <div id="content">
        <div id="available-rooms-container">
            <table id="available-rooms">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>sitting</th>
                        <th>capacity</th>
                        <th>standing</th>
                        <th>minimum bet</th>
                        <th>join</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (availableRooms.length === 0) { %>
                        <tr>
                            <td colspan=6>no available rooms!</td>
                        </tr>
                    <% } else { %>
                        <% availableRooms.forEach(room => { %>
                            <tr>
                                <td><%= room.id %></td>
                                <td><%= room.numSitting %></td>
                                <td><%= room.capacity %></td>
                                <td><%= room.numStanding %></td>
                                <td><%= room.minimumBet %></td>
                                <td>
                                    <button id="join-button" class="not-implemented" type="button">join</button>
                                </td>
                            </tr>
                        <% }); %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div id="new-room-params-container">
        </div>
    </div>
    <script>
        window.onload = function() {
            const eles = document.getElementsByClassName("not-implemented");
            for (let i = 0; i < eles.length; ++i) {
                eles[i].addEventListener("click", e => alert("Not implemented!"));
            };
            window.main(<%- JSON.stringify(params) %>);
        };
    </script>
    </body>
</html>
